<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Dev Hub</title>

  <link rel="styelsheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link type="text/css" rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
  <nav class = "indigo">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Dev Hub</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/users">Developers</a></li>
        <li><a href="/companies">Companies</a></li>
        <li><a href="collapsible.html">About Us</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/users">Developers</a></li>
        <li><a href="/companies">Companies</a></li>
        <li><a href="collapsible.html">About Us</a></li>
      </ul>
    </div>
  </nav>

  <h4>Companies</h4>
  <div class="row">

    <% companies.forEach( company => { %>
      <div class="col s12 m4 l3">
      <div class="card s">
        <div class="card-top">
          <span><h5><%= company.name %></h4></span>
          <div class="spacer">
            <br>
            <br>
          </div>
          <div class="card-sizer valign-wrapper">
            <div class="card-image waves-effect waves-block waves-light valign">
                 <img class="activator" src=" <%= company.image %> ">
             </div>
          </div>
          <div class="spacer">
            <br>
            <br>
          </div>
          <span><%= company.industry %></span>
          <div class="spacer">&nbsp;</div>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
          <p>
          <br>
          <div class="languages-display">
            <% for (var i = 0; i < company.stack.length; i++) { %>
              <i class="devicon-<%= company.stack[i].toLowerCase() %>-plain colored size"></i>
            <% } %>
          </div>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= company.name %><i class="material-icons right">close</i></span>
          <ul>
            <li><strong> Industry: </strong> <%= company.industry %> </li>
            <br>
            <li><strong> Description: </strong> <%= company.description %> </li>
            <br>
            <li><strong> Stack: </strong>
              <% for (var i = 0; i < company.stack.length; i++) { %>
                <i class="devicon-<%= company.stack[i].toLowerCase() %>-plain colored size-inside"></i>
              <% } %>
            </li>
            <li><strong> Jobs: </strong> <%= company.jobs %> </li>
          </ul>
        </div>
      </div>
      </div>
    <% }) %>

  </div>
  <br>

<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
      <h6 class="white-text center bold">Company</h6>
      <ul class="center">
        <li><a class="grey-text text-lighten-3" href="#!">API</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Our Stack</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright DevHub
    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>


<!-- jQuery is required by Materialize to function -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // Activate the side menu
    $(".button-collapse").sideNav();
  });
</script>

</body>
</html>
